@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    height: 100%;
}

.background-header {
    background-color: #fafafa;
    width: 100%;
    position: absolute;
    top: -550px;
    opacity: 0.7;
    left: 0; 
    right: 0;
    bottom: 0;
    height: 1000px;
    z-index: -1;
    background: url("../public/gradient.png") no-repeat center center;
}